<!DOCTYPE html>
<html ng-app="WebApp">
	<head>
	<link rel="shortcut icon" href="../common/bootstrap.min.css">
	<style type="text/css">
	  button{
	  	margin-top: 10px;
	  }
	  input{
	  	margin-top: 10px;
	  }
	  #finish{
	  	display: none;
	  }
	</style>

	</head>
<body ng-controller="firstController">
<!-- <div>
	<form>
		 
	<div ng-repeat="item in items">
    <input type="text" ng-model="values[$index]">
  </div>
  
	  <button type="submit" ng-click="addItem()">submit</button>
   </form>
</div>

</body> -->
<form>
<div >

  
    <div ng-repeat="contact in contacts track by $index">
      <input type="text" ng-model="contact.value" placeholder="enter value"/>
    </div>
    <div>
      <button type="submit" ng-click="addnum()" id="finish">Finish</button>
       <button type="button" ng-click="shownum()">submit</button>
    </div>
    <div id="answer"></div>
  
  </div>
  </form>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
 --><script type="text/javascript" src="../common/jquery.min.js"></script>
<script type="text/javascript" src="../common/angular.min.js"></script>
<script type="text/javascript" src="../common/angular-route.min.js"></script>
<script type="text/javascript" src="main.js"></script>

</script>

</html>	